{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("supercool\\tools\\assetbundles\\tools\\ToolsAsset") %}

{{
	forms.hidden({
		label: 'totalColumns'|t,
		name: name~'[totalColumns]',
		id: name~'-totalColumns',
		value: value.totalColumns,
	})
}}


{{
	forms.hidden({
		label: 'left'|t,
		name: name~'[left]',
		id: name~'-left',
		value: value.left,
	})
}}

{{
	forms.hidden({
		label: 'right'|t,
		name: name~'[right]',
		id: name~'-right',
		value: value.right,
	})
}}

<div class="noUi__grid-value" id="{{name}}-grid-value"></div>

<div id="{{ name }}-slider"></div>


{% set sliderFieldJS %}

	var left = {{ value.left }};
	var right = {{ value.right }};


	var slider = document.getElementById("{{namespaceId}}-slider");

	noUiSlider.create(slider, {
		start: [left, right],
		connect: true,
		margin: 0,
		step: 1,
		tooltips: false,
		range: {
			'min': 1,
			'max': {{ value.totalColumns + 1 }}
		},
		pips: {
			mode: 'steps',
			density: 100
		}
	});

	slider.noUiSlider.on('update', function(values, handle) {

		left = parseInt(values[0]);
		right = parseInt(values[1]);

		width = left + right;

		gridValue = "Value: " + left +","+ right;
		document.getElementById('{{namespaceId}}-grid-value').innerHTML = gridValue;
	});


	slider.noUiSlider.on('end', function(values, handle) {

		left = parseInt(values[0]);
		right = parseInt(values[1]);

		width = left + right;

		$('#{{namespaceId}}-left').val( left );
		$('#{{namespaceId}}-right').val( right );
	});

	// Settings classes on handles
	var origins = slider.getElementsByClassName('noUi-handle');
	origins[0].className += origins[0].className ? ' grid__firstHandle' : 'grid__firstHandle';
	origins[1].className += origins[1].className ? ' grid__secondHandle' : 'grid__secondHandle';

{% endset %}

{% js sliderFieldJS %}










