{% if name is defined and name %}
	<input type="hidden" name="{{ name }}" value="">
{% endif -%}

{% set elements = (elements is defined and elements ? elements : []) -%}
{% set sources = (sources is defined and sources ? sources : null) -%}
{% set criteria = (criteria is defined and criteria ? criteria : null) -%}
{% set sourceElementId = (sourceElementId is defined and sourceElementId ? sourceElementId : null) -%}
{% set storageKey = (storageKey is defined and storageKey ? storageKey : null) -%}

{% from "_includes/forms" import text %}

<div id="{{ id }}" class="categoriesfield clearafter supercooltools-elementsearch">
	<ul class="elements structure">
		{% nav category in elements %}
			<li id="{{ id }}-category-{{ category.id }}">
				{% set indent = (category.level - 1) * 35 %}
				<div class="row" style="margin-left: -{{ indent }}px; padding-left: {{ indent }}px;">
					{%- include "_elements/element" with { element: category, context: 'field' } -%}
				</div>

				{% ifchildren %}
					<ul>
						{% children %}
					</ul>
				{% endifchildren %}
			</li>
		{% endnav %}
	</ul>

	<div class="texticon add icon">
		{{ text({
			width: 'auto',
			placeholder: selectionLabel,
		}) }}
		<div class="spinner hidden"></div>
	</div>
</div>

{% set js %}
	var settings = {
		id : "{{ id | namespaceInputId   | e('js') }}",
		name : "{{ name | namespaceInputName | e('js') }}",
		elementType: "Category",
		sources : {{ sources|json_encode|raw }},
		criteria : {{ criteria|json_encode|raw }},
		sourceElementId : {{ sourceElementId ?: 'null' }},
		limit : {{ branchLimit ?: 'null' }},
		storageKey : "{{ storageKey|e('js') }}",
		selectionLabel: "{{ selectionLabel|e('js') }}"
	};

	new SupercoolTools.ElementSearchInput(settings);
{% endset %}

{% js js %}
